
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333; 
    transition: background-color 0.3s, color 0.3s; 
}

.dark-theme {
    background-color: #333; 
    color: #f9f9f9; 
}

header {
    background-color: #7e57c2; 
    color: white; 
    padding: 20px;
    text-align: center;
}

header img {
    border-radius: 50%; 
    width: 100px; 
    margin-bottom: 10px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #6a1b9a; 
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
    padding-left: 10px;
    border-left: 3px solid #6a1b9a; 
}

a {
    color: #8e24aa; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}

footer {
    text-align: center;
    background-color: #7e57c2; 
    color: white; 
    padding: 10px 0;
    position: relative;
}

#theme-toggle {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #8e24aa; 
    color: white; 
}

#theme-toggle:hover {
    background-color: #7b1fa2; 
}

@media (max-width: 600px) {
    header img {
        width: 80px; 
    }
}

